.cl-rootBox, .cl-userProfile-root, .cl-card {
  border: none;
  box-shadow: none;
}

.cl-navbar {
  border-right: none !important;
  display: none;
}

.cl-profileSection__activeDevices {
  display: none;
}

.cl-headerTitle {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.025em;
  color: #4157D0;
}

/* .cl-headerSubtitle {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.025em;
  color: #4157D0;
} */
