@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-button {
    @apply rounded-[6px] px-6 py-2 text-base font-bold
    border drop-shadow-lg hover:scale-95 hover:opacity-70
    hover:transition-all bg-main text-white ;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
